# <img align="left" src = https://project.lsst.org/sites/default/files/Rubin-O-Logo_0.png width=250 style="padding: 10px"> 
<b>Analysis Notebook</b> <br>
Contact author: Eric Bellm<br>
Last verified to run: Feb. 14, 2024<br>
LSST Science Piplines version: w_2024_06<br>
Container Size: Large <br>

# Determine date ranges in HSC COSMOS and HITS

## 1. <a id="section_1">Imports, Helper Functions, and Loading</a>

In [10]:
import matplotlib
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

import lsst.daf.butler as dafButler
from lsst.analysis.ap import legacyPlotUtils as plac
from lsst.analysis.ap import apdb

from lsst.ap.association import UnpackApdbFlags, TransformDiaSourceCatalogConfig
import functools
import operator
from IPython.display import Image, display

import lsst.afw.display as afwDisplay
import astropy.units as u
from astropy.time import Time

import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

plt.set_loglevel('WARNING')

### Loading Data: COSMOS

In [2]:
repo = '/repo/main'
butler = dafButler.Butler(repo)
instrument = 'HSC'
skymap = 'hsc_rings_v1'

collections = f'u/elhoward/DM-41896/HSC-precon-rb'
schema = f'elhoward_dm41896_hsc_appipewithfakes_precon_rb'

apdbQuery = apdb.ApdbPostgresQuery(butler=butler, instrument=instrument, namespace=schema)

In [4]:
with apdbQuery.connection as connection:
    df = pd.read_sql_query('SELECT * \
                                 FROM "{}"."DiaSource" LIMIT 1;'.format(schema), connection)

In [5]:
df.columns

Index(['diaSourceId', 'ccdVisitId', 'diaObjectId', 'ssObjectId',
       'parentDiaSourceId', 'ssObjectReassocTime', 'midpointMjdTai', 'ra',
       'raErr', 'dec',
       ...
       'ixyPSF', 'extendedness', 'reliability', 'flags', 'band', 'isDipole',
       'time_processed', 'time_withdrawn', 'bboxSize', 'pixelId'],
      dtype='object', length=112)

In [8]:
with apdbQuery.connection as connection:
    df = pd.read_sql_query('SELECT min("midpointMjdTai") as min_mjd, max("midpointMjdTai") as max_mjd \
                                 FROM "{}"."DiaSource";'.format(schema), connection)

In [9]:
df

        min_mjd       max_mjd
0  56741.400239  57163.296292

In [11]:
Time(df['min_mjd'],format='mjd').iso

array(['2014-03-25 09:36:20.614'], dtype='<U23')

In [12]:
Time(df['max_mjd'],format='mjd').iso

array(['2015-05-21 07:06:39.671'], dtype='<U23')

### Loading Data: HiTS

In [13]:
repo = '/repo/main'
butler = dafButler.Butler(repo)
instrument = 'DECam'
skymap = 'decam_rings_v1'

collections = f'u/elhoward/DM-38243/HiTS'
schema = f'elhoward_dm38243_hits_appipe'

apdbQuery = apdb.ApdbPostgresQuery(butler=butler, instrument=instrument, namespace=schema)

In [14]:
with apdbQuery.connection as connection:
    df = pd.read_sql_query('SELECT * \
                                 FROM "{}"."DiaSource" LIMIT 1;'.format(schema), connection)

In [15]:
df.columns

Index(['diaSourceId', 'ccdVisitId', 'diaObjectId', 'ssObjectId',
       'parentDiaSourceId', 'prv_procOrder', 'ssObjectReassocTime',
       'midPointTai', 'ra', 'raErr',
       ...
       'ixxPSF', 'iyyPSF', 'ixyPSF', 'extendedness', 'spuriousness', 'flags',
       'filterName', 'isDipole', 'bboxSize', 'pixelId'],
      dtype='object', length=111)

In [18]:
with apdbQuery.connection as connection:
    df = pd.read_sql_query('SELECT min("midPointTai") as min_mjd, max("midPointTai") as max_mjd \
                                 FROM "{}"."DiaSource";'.format(schema), connection)

In [19]:
df

        min_mjd       max_mjd
0  57070.141866  57095.193229

In [20]:
Time(df['min_mjd'],format='mjd').iso

array(['2015-02-17 03:24:17.200'], dtype='<U23')

In [21]:
Time(df['max_mjd'],format='mjd').iso

array(['2015-03-14 04:38:15.021'], dtype='<U23')

### Loading Data: Saha Bulge

In [22]:
repo = '/repo/main'
butler = dafButler.Butler(repo)
instrument = 'DECam'
skymap = 'decam_rings_v1'

collections = f'u/elhoward/DM-40832/saha_bulge/g'
schema = f'elhoward_dm40832_saha_g_appipe'

apdbQuery = apdb.ApdbPostgresQuery(butler=butler, instrument=instrument, namespace=schema)

In [23]:
with apdbQuery.connection as connection:
    df = pd.read_sql_query('SELECT * \
                                 FROM "{}"."DiaSource" LIMIT 1;'.format(schema), connection)

In [24]:
df.columns

Index(['diaSourceId', 'ccdVisitId', 'diaObjectId', 'ssObjectId',
       'parentDiaSourceId', 'ssObjectReassocTime', 'midpointMjdTai', 'ra',
       'raErr', 'dec',
       ...
       'ixyPSF', 'extendedness', 'reliability', 'flags', 'band', 'isDipole',
       'time_processed', 'time_withdrawn', 'bboxSize', 'pixelId'],
      dtype='object', length=112)

In [25]:
with apdbQuery.connection as connection:
    df = pd.read_sql_query('SELECT min("midpointMjdTai") as min_mjd, max("midpointMjdTai") as max_mjd \
                                 FROM "{}"."DiaSource";'.format(schema), connection)

In [26]:
df

        min_mjd       max_mjd
0  56423.161001  56510.185704

In [27]:
Time(df['min_mjd'],format='mjd').iso

array(['2013-05-11 03:51:50.453'], dtype='<U23')

In [28]:
Time(df['max_mjd'],format='mjd').iso

array(['2013-08-06 04:27:24.855'], dtype='<U23')

In [29]:
collections = f'u/elhoward/DM-40832/saha_bulge/i'
schema = f'elhoward_dm40832_saha_i_appipe'

apdbQuery = apdb.ApdbPostgresQuery(butler=butler, instrument=instrument, namespace=schema)

In [30]:
with apdbQuery.connection as connection:
    df = pd.read_sql_query('SELECT min("midpointMjdTai") as min_mjd, max("midpointMjdTai") as max_mjd \
                                 FROM "{}"."DiaSource";'.format(schema), connection)

In [31]:
df

        min_mjd       max_mjd
0  56423.158019  56510.182704

In [32]:
Time(df['min_mjd'],format='mjd').iso

array(['2013-05-11 03:47:32.861'], dtype='<U23')

In [33]:
Time(df['max_mjd'],format='mjd').iso

array(['2013-08-06 04:23:05.600'], dtype='<U23')